@use "../global" as global;

.l-header {
  width: 100%;
  height: global.$header-height-sp;
  z-index: map-get(global.$layer, "header");
  background: global.$header-background;
  color: global.$header-color;

  @include global.mq-up("tab") {
    height: global.$header-height-pc;
  }
}

// 固定
.l-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
}
